@import "tailwindcss";
@import "tw-animate-css";


@font-face {
  font-family: 'Array';
  src: url('/fonts/Array-SemiboldWide.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Erode';
  src: url('/fonts/Erode-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sharpie-Bold';
  src: url('/fonts/Sharpie-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  /* white */
  --background: oklch(1 0 0);

  /* zinc-950 */
  --foreground: oklch(0.141 0.005 285.823);

  /* zinc-950 */
  --primary: oklch(0.141 0.005 285.823);

  /* zinc-50 */
  --primary-foreground: oklch(0.985 0 0);

  /* zinc-100 */
  --secondary: oklch(0.967 0.001 286.375);

  /* zinc-950 */
  --secondary-foreground: oklch(0.141 0.005 285.823);

  /* zinc-100 */
  --muted: oklch(0.967 0.001 286.375);

  /* zinc-500 */
  --muted-foreground: oklch(0.552 0.016 285.938);

  /* white */
  --card: oklch(1 0 0);

  /* zinc-950 */
  --card-foreground: oklch(0.141 0.005 285.823);

  /* white */
  --popover: oklch(1 0 0);

  /* zinc-950 */
  --popover-foreground: oklch(0.141 0.005 285.823);

  --popover-border: color-mix(in oklab, var(--color-black) 15%, transparent);

  /* zinc-100 */
  --accent: oklch(0.967 0.001 286.375);

  /* zinc-900 */
  --accent-foreground: oklch(0.21 0.006 285.885);

  /* zinc-200 */
  --border: oklch(0.92 0.004 286.32);

  /* color-mix */
  --edge: color-mix(in oklab, var(--border) 60%, var(--background));

  /* zinc-200 */
  --input: oklch(0.92 0.004 286.32);

  --ring: oklch(0.67 0.17 244.98);

  --info: oklch(0.67 0.17 244.98);

  /* green-500 */
  --success: oklch(0.723 0.219 149.579);

  /* red-600 */
  --destructive: oklch(0.577 0.245 27.325);

  /* blue-700 */
  --link: oklch(0.488 0.243 264.376);

  /* zinc-50 */
  --code: oklch(0.985 0 0);

  /* zinc-950 */
  --code-foreground: oklch(0.141 0.005 285.823);

  /* zinc-400 */
  --code-number: oklch(0.705 0.015 286.067);

  /* zinc-100 */
  --code-highlight: oklch(0.967 0.001 286.375);

  --shadow-popover: 0 6px 24px rgba(0, 0, 0, 0.25);
}
.dark {
  /* zinc-950 */
  --background: oklch(0.141 0.005 285.823);

  /* zinc-50 */
  --foreground: oklch(0.985 0 0);

  /* zinc-700 */
  --primary: oklch(0.37 0.013 285.805);

  /* zinc-50 */
  --primary-foreground: oklch(0.985 0 0);

  /* zinc-800 */
  --secondary: oklch(0.274 0.006 286.033);

  /* zinc-50 */
  --secondary-foreground: oklch(0.985 0 0);

  /* zinc-800 */
  --muted: oklch(0.274 0.006 286.033);

  /* zinc-400 */
  --muted-foreground: oklch(0.705 0.015 286.067);

  /* zinc-900 */
  --card: oklch(0.21 0.006 285.885);

  /* zinc-50 */
  --card-foreground: oklch(0.985 0 0);

  /* zinc-900 */
  --popover: oklch(0.21 0.006 285.885);

  /* zinc-50 */
  --popover-foreground: oklch(0.985 0 0);

  /* zinc-700 */
  --popover-border: oklch(0.37 0.013 285.805);

  /* zinc-800 */
  --accent: oklch(0.274 0.006 286.033);

  /* zinc-50 */
  --accent-foreground: oklch(0.985 0 0);

  /* zinc-800 */
  --border: oklch(0.274 0.006 286.033);

  --edge: color-mix(in oklab, var(--border) 60%, var(--background));

  /* zinc-800 */
  --input: oklch(0.274 0.006 286.033);

  /* green-500 */
  --success: oklch(0.723 0.219 149.579);

  /* red-700 */
  --destructive: oklch(0.505 0.213 27.518);

  /* blue-500 */
  --link: oklch(0.623 0.214 259.815);

  /* zinc-900 */
  --code: oklch(0.21 0.006 285.885);

  /* zinc-50 */
  --code-foreground: oklch(0.985 0 0);

  /* zinc-500 */
  --code-number: oklch(0.552 0.016 285.938);

  /* zinc-800 */
  --code-highlight: oklch(0.274 0.006 286.033);

  --shadow-popover: 0 0 24px rgba(0, 0, 0, 0.5);
}
body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  box-sizing: border-box;
  background-color: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Font utility classes */
.font-opensans-bold {
  font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}
.font-opensans-semibold {
  font-family: 'OpenSans-SemiBold', Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}

.font-array {
  font-family: 'Array', Arial, Helvetica, sans-serif !important;
}
.font-erode {
  font-family: 'Erode', Arial, Helvetica, sans-serif !important;
}
.font-switzer {
  font-family: 'Switzer', Arial, Helvetica, sans-serif !important;
}
.font-sharpie-bold{
  font-family: 'Sharpie-Bold', Arial, Helvetica, sans-serif !important;
}
.dotted-bg{
  background-image: radial-gradient(circle 5px at top left, var(--edge) 0%, var(--edge) 50%,var(--edge) 50%, var(--edge) 30%,transparent 30%, transparent 50%),linear-gradient(90deg, rgba(0,0,0, 0),rgba(0,0,0, 0)); background-size: 11px 11px;
}
.italic-lines-bg{
  background-image: repeating-linear-gradient(135deg, var(--edge) 0px, var(--edge) 1px,transparent 1px, transparent 6px);
}

.animated-line {
  height: 6px;
  width: 60px;
  --c:no-repeat repeating-linear-gradient(90deg,#ffffff 0 3px,#ffffff00 0 6px);
  background: var(--c), var(--c);
  background-size: 100% 3px;
  animation: l9 1s infinite;
}
@keyframes l9 {
  0%,
  70%,
  100%   {background-position: 0   50%,3px 50% }
  23.33% {background-position: 0   0  ,3px 100%}
  46.67% {background-position: 3px 0  ,0   100%}
  69.99% {background-position: 3px 50%,0   50% }
}

.y-border {
  border-top: 1px solid var(--edge); 
  border-bottom: 1px solid var(--edge);
  width: 100%;
}
.x-border {
  border-left: 1px solid var(--edge); 
  border-right: 1px solid var(--edge);
  width: 100%;
}

.s-border{
  border: 1px solid var(--edge);
}